/**********************************************************************************************************************************
タイムライン（縦）定義用SASS
	縦タイムライン用SASS。

	注意事項：
		wire_frame01.pngを参照。
		_common_function.scssをインポートすること。

	作成履歴：
		2017/03/07	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// マーカーの直径
	$timeline_marker_size:				1rem;
	// マーカーのボーダーサイズ
	$timeline_marker_border_size:		2px;
	// タイムライン間の余白
	$timeline_offset:					2rem;
	// タイムライン・ブレークポイント
	$timeline_break_point:				640px;
	// マーカー色
	$timeline_marker_color:				#FFFFFF;
	// ボーダー色（タイムラインの縦線）
	$time_line_border_color:			#37474F;

	/*----------------------------------------------------------------------------------------------------------
	TimeLine関数（印刷時処理）
		説明：
			メディア定義の「print」時に使用すること。
			これは、Animate.cssを適用していなければ不要！
	----------------------------------------------------------------------------------------------------------*/
	@mixin insTimelineOnPrint()
	{
		li
		{
			article
			{
				// アニメーションを解除し、全てを表示
				@include opacity( 1 );
				animation: none;
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	TimeLine関数（左寄せ）
	
		注意事項：
			TimeLine関数（中央配置）の差分として利用すること！
	----------------------------------------------------------------------------------------------------------*/
	@mixin insTimeline_Left()
	{
		// ラインを表示
		background-position: $timeline_offset $timeline_offset;

		li
		{
			@include calc( width, '100% + ' + ( $timeline_marker_border_size / 2 ) + ' + ' + ( $timeline_marker_size / 2 ) );
		}
		li:nth-child( even )
		{
			float: right;

			&:before
			{
				right: inherit;
			}

			article
			{
				padding-left: $timeline_offset;

				h2
				{
					text-align: left;
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	TimeLine関数（右寄せ）
	
		注意事項：
			TimeLine関数（中央配置）の差分として利用すること！
			
	----------------------------------------------------------------------------------------------------------*/
	@mixin insTimeline_Right()
	{
		// ラインを表示
		@include background-position( '100% - ' + $timeline_offset, $timeline_offset );

		li
		{
			@include calc( width, '100% + ' + ( $timeline_marker_border_size / 2 ) + ' + ' + ( $timeline_marker_size / 2 ) );
		}
		li:nth-child( odd )
		{
			float: left;
			
			&:before
			{
				right: 0px;
			}

			article
			{
				padding-left: inherit;
				padding-right: $timeline_offset;

				h2
				{
					text-align: right;
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	TimeLine関数（中央配置）
	
		引数：
			$page_number	... ページ番号
								1以上を指定する必要がある。
	----------------------------------------------------------------------------------------------------------*/
	@mixin insTimeline( $page_number )
	{ 
		// ラインを表示
		// インライン・イメージ・データとして読み込まれる。
		@include background-image( linear-gradient( top, #37474F, #607D8B ) );
		@include background-size( $timeline_marker_border_size 100% );
		background-position: 50% $timeline_offset;
		background-repeat: no-repeat;

		padding: $timeline_offset $timeline_offset 0 $timeline_offset;
		margin-bottom: $timeline_offset;
		
		position: relative;
		
		li
		{
			@include calc( width, '50% + ' + $timeline_marker_border_size + ' + ' + ( $timeline_marker_size / 2 ) );
			position: relative;
			margin-bottom: $timeline_offset;
			
			article
			{
				@include calc( width, '100% - ' + $timeline_offset );
				@include calc( height, '100% - ' + $timeline_offset );
				
				// Animation対応
				@include opacity( 0 );

				h2
				{
					@include calc( font-size, '1rem + ' + ( $timeline_marker_border_size * 2 ) );
				}
				div
				{
					padding: 1rem;
					@include force-wrap;
				}
			}
			
			// マーカーを表示
			&:before
			{
				content: '';
				position: absolute;
				width: $timeline_marker_size;
				height: $timeline_marker_size;
				border: $timeline_marker_border_size solid $time_line_border_color;
				border-radius: 50%;
				background-color: $timeline_marker_color;
			}
			// li要素がホバーした時、マーカーの色を変更
			&:hover:before
			{
				background-color: yellow;
			}
			// li がホバーした時、カーソルをポインターに変更
			&:hover
			{
				cursor: pointer;
			}
		}
		li:first-child
		{
			// 次ページの場合
			@if $page_number > 1
			{
				padding-top: $timeline_offset;
			}
		}
		li:nth-child( odd )
		{
			float: right;

			article
			{
				padding-left: $timeline_offset;
			}
		}
		li:nth-child( even )
		{
			float: left;
			
			&:before
			{
				right: 0px;
			}

			article
			{
				padding-right: $timeline_offset;

				h2
				{
					text-align: right;
				}
			}
		}

		@include clearfix;
	}
