/**********************************************************************************************************************************
レイアウト定義用SASS
	ヘッダー・フッター固定で、ブロックが１ページに収まるレイアウト。

	注意事項：
		必ずPCファーストで作成してください！

	作成履歴：
		2017/03/04	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";
/* 汎用関数 */
@import "common_function";
/* TimeLine */
@import "timeline";
@import "compass/layout/stretching";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// 最大ページ幅
	$page_max_width:					1024px;
	// Header高さ（固定）
	$header_height:						80px;
	// コンテンツ最低高
	$main_min_height:					400px;
	// コンテンツ部左右余白合計
	$main_contents_margin:				40px;
	// Footer高さ（固定）
	$footer_height: 					80px;

	$rotate_sample_height:				200px;

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// ここから定義しているのは、画面の高さを100%にするため。
	// この処理は、サンプルの要件定義に従わせるため。
	// HTML部
	//@include more_reset();

	html
	{
	    height: 100%;
	    width: 100%;
	    max-width: $page_max_width;
	    margin: 0 auto;

		// Body部
		body
		{
			width: 100%;
			height: 100%;
			@include min-height( $header_height );
			background-color: gray;
			position: relative;
	
			// ヘッダー部
			header
			{
				height:	$header_height;
				width: 100%;
				max-width: $page_max_width;
				margin: 0 auto;
				background-color: red;
			}
		
			// コンテンツ部
			main
			{
				@include calc( width, '100% - ' + $main_contents_margin );
				margin: 0 auto;
				
				background-color: white;

				@include calc( height, '100vh - ' + ( $header_height + $footer_height ) );
				overflow-y: auto;
				
				nav
				{
					display: block;
					position: relative;
					@include calc( width, '100% - ' + 20px );
					padding: 10px;
					background-color: #f5bcbc;

					#button_sort
					{
						display: inline-block;
						position: relative;
						padding: 4px;
						background-color: yellow;
						@include border-radius( 4px );
						float: right;
						
						&:hover
						{
							cursor: pointer;
						}
					}
					.button_off
					{
						&:before
						{
							content: '昇順';
						}
					}
					.button_on
					{
						&:before
						{
							content: '降順';
						}
					}
					
					@include clearfix;
				}

				.insTimeLine
				{
					@include insTimeline( 1 );
					//@include insTimeline_Left();

					li
					{
						article
						{
							h2
							{
							}
							div
							{
								background-color: #f7d8d8;
								position: relative;
								@include border-radius( 8px );
								
								img
								{
									width: 100%;
								}
								.writing
								{
									@include writing-mode( 'rl' );
									display: inline-block;
									padding: 0;
									width: 100%;
									//@include calc( height, '100% - ' + ( $timeline_offset * 2 ) );
									margin-left: auto;
									line-height: $timeline_offset;
									overflow-x: auto;
								}
								.rotate
								{
									position:	absolute;
									top:		100%;
									left:		0;
									width: 		$rotate_sample_height;

									@include transform-origin( 0, 0 );
									@include rotate(-90deg);

									@include force-wrap;
								}
							}
							.rotate_container
							{
								display: block;
								overflow: auto;
								height: $rotate_sample_height;
								//@include stretch-y;
							}
						}
					}
				}
			}
		
			// フッター部
			footer
			{
				height:	$footer_height;
				width: 100%;
				max-width: $page_max_width;
				margin: 0 auto;

				background-color: green;

				.sTopButton
				{
					position: fixed;
					bottom: 8px;
					right: 8px;
					padding: 8px;
					@include border-radius( 4px );
					@include opacity( 0.6 );
					background-color: white;

					display: none;

					&:hover
					{
						cursor: pointer;
					}
				}
				
				.sBottomButton
				{
					position: fixed;
					top: 8px;
					right: 8px;
					padding: 8px;
					@include border-radius( 4px );
					@include opacity( 0.6 );
					background-color: white;
					z-index: 100;

					&:hover
					{
						cursor: pointer;
					}
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/
	#cboxLoadedContent
	{
		padding: $main_contents_margin;
	}
	#colorbox
	{
		img
		{
			width: 100%;
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// 最大ページ幅
	$sp_page_max_width:			100%;
	// Header高さ（固定）
	$sp_header_height:			40px;
	// Footer高さ（固定）
	$sp_footer_height: 			40px;

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	
		PCバージョンとまったく同じ構成にしているのは、CSS適用規則に沿って、PCの定義を適切に上書きできるように
		するため。
	----------------------------------------------------------------------------------------------------------*/
	// HTML部
	html
	{
		width: $sp_page_max_width;

		// Body部
		body
		{
			// ヘッダー部
			header
			{
				height: $sp_header_height;
			}
		
			// コンテンツ部
			main
			{
				width: 100%;
	
				@include calc( height, '100vh - ' + ( $sp_header_height + $sp_footer_height ) );

			}
		
			// フッター部
			footer
			{
				height: $sp_footer_height;

				.sTopButton
				{
					bottom: 4px;
					right: 4px;
				}
				
				.sBottomButton
				{
					top: 4px;
					right: 4px;
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_smart_phone_width+1) and (max-width:$media_phablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_phablet_width+1) and (max-width:$media_tablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_tablet_width+1) and (max-width:$media_desctop_hd_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_desctop_hd_width+1)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
特殊定義
	注意事項：
		ページサイズが固定で、コンテンツは左右に余白を設けているため、ブラウザの横幅がページサイズの横幅を
		下回った場合に余白をなくしている。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $timeline_break_point)
{
	html
	{
		body
		{
			main
			{
				.insTimeLine
				{
					@include insTimeline_Left();
				}
			}
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------
特殊定義
	注意事項：
		ページサイズが固定で、コンテンツは左右に余白を設けているため、ブラウザの横幅がページサイズの横幅を
		下回った場合に余白をなくしている。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $page_max_width)
{
	html
	{
		body
		{
			main
			{
				width: 100%;
			}
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------
印刷定義
--------------------------------------------------------------------------------------------------------------*/
@media print
{
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// Header高さ（固定）
	$prt_header_height:			80px;
	// Footer高さ（固定）
	$prt_footer_height: 		80px;

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	html
	{
		body
		{
			header
			{
			}
			// 左右の余白をなくし、固定されたヘッダーの高さが必要なくなるため解除している。
			main
			{
				width: 100%;
				position: relative;
				height: auto;
				overflow-y: inherit;

				.insTimeLine
				{
					@include insTimelineOnPrint();
				}
			}

			// フッター部
			footer
			{
				position: relative;
				// 上下ナビゲーションボタンは印刷しないため、非表示にしている。
				.sTopButton
				{
					@include opacity( 0 );
					display: none;
				}
				.sBottomButton
				{
					@include opacity( 0 );
					display: none;
				}
			}
		}
	}
}
