@charset "UTF-8";
/**********************************************************************************************************************************
レイアウト定義用SASS
	ヘッダー・フッター固定で、ブロックが１ページに収まるレイアウト。

	注意事項：
		必ずPCファーストで作成してください！

	作成履歴：
		2017/03/04	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
/* リセット用CSSをインポート */
@import url(//fonts.googleapis.com/css?family=Abel);
/* line 5, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 汎用定数 */
/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	注意事項：
		ここで定義されるものは削除してはいけない。
		本SASSは最初にインポートされる必要がある。
		ここで定義されている定数をオーバーライドすることで挙動を変更できる。

	作成履歴：
		2016/07/05	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
定数定義
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
メディア定義
----------------------------------------------------------------------------------------------------------*/
/* 汎用関数 */
/**********************************************************************************************************************************
汎用関数定義SASS
	汎用的に使用される関数を定義したSASS

	作成履歴：
		2017/02/09	新規作成（浅野 利博）
		2017/03/04	関数コメントを修正（浅野 利博）
		2017/03/08	calc対応background-position関数を追加（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
Calc代用関数
	説明：
		Compassにはclac相当のファンクションが機能しない。
		（単位の異なる演算ができない）
		そのための代用となる。
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
background-position代用関数
	説明：
		background-positionの指定でCalcを使用可能にするもの。
----------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	BOX中央配置関数
		説明：
			要素を親要素topから50%に配置、すると子要素のtopが親要素の中央位置にくるので、
			子要素を自身の高さの半分マイナス上にずらす（transform: translateY(-50%))と、縦のセンタリングができる。

			width					... 自身の幅
			height					... 自身の高
			parent_width			... 親要素の幅
			parent_height			... 親要素の高

			translateX() = ( parent_width / 2 ) + ( width * -0.5 );
			translateY() = ( parent_height / 2 ) + ( height * -0.5 );

		注意事項：
			※親要素の高さが決まっている時のみ適用される。
	----------------------------------------------------------------------------------------------------------*/
/* Google Font をインポート（必要に応じて）*/
/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
変数定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
ワイヤーフレーム関連定義
----------------------------------------------------------------------------------------------------------*/
/* line 61, ../sass/sample2.scss */
html {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 69, ../sass/sample2.scss */
html body {
  width: 100%;
  height: 100%;
  min-height: 80px;
  background-color: gray;
  position: relative;
}
/* line 78, ../sass/sample2.scss */
html body header {
  height: 80px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 87, ../sass/sample2.scss */
html body header .sLogo_Frame {
  width: 30%;
  height: 100%;
  float: left;
  background-color: red;
}
/* line 95, ../sass/sample2.scss */
html body header .sMenu_Frame {
  width: 70%;
  height: 100%;
  float: left;
  background-color: #d8a6cd;
}
/* line 108, ../sass/sample2.scss */
html body main {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 0 auto;
  background-color: yellow;
  position: relative;
  height: -webkit-calc(100vh - 160px);
  height: -moz-calc(100vh - 160px);
  height: -o-calc(100vh - 160px);
  height: calc(100vh - 160px);
  overflow-y: auto;
}
/* line 120, ../sass/sample2.scss */
html body main .sWaypoint_frame {
  width: 100%;
  position: relative;
  height: -webkit-calc(100vh - 160px);
  height: -moz-calc(100vh - 160px);
  height: -o-calc(100vh - 160px);
  height: calc(100vh - 160px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #f19090;
}
/* line 129, ../sass/sample2.scss */
html body main .sWaypoint_frame:nth-child(odd) {
  background-color: #9b91f3;
}
/* line 134, ../sass/sample2.scss */
html body main .sWaypoint_frame .test_box {
  border: 1px solid red;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 145, ../sass/sample2.scss */
html body footer {
  height: 80px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: green;
}
/* line 154, ../sass/sample2.scss */
html body footer .sTopButton {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background-color: white;
  display: none;
}
/* line 166, ../sass/sample2.scss */
html body footer .sTopButton:hover {
  cursor: pointer;
}
/* line 172, ../sass/sample2.scss */
html body footer .sBottomButton {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background-color: white;
  z-index: 100;
}
/* line 183, ../sass/sample2.scss */
html body footer .sBottomButton:hover {
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------
その他の定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
Ratina専用定義
	画像や特殊文字を実装する場合にRatina用の設定を行う。
----------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  /*----------------------------------------------------------------------------------------------------------
  変数定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  
  	PCバージョンとまったく同じ構成にしているのは、CSS適用規則に沿って、PCの定義を適切に上書きできるように
  	するため。
  ----------------------------------------------------------------------------------------------------------*/
  /* line 233, ../sass/sample2.scss */
  html {
    width: 100%;
  }
  /* line 241, ../sass/sample2.scss */
  html body header {
    height: 40px;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 246, ../sass/sample2.scss */
  html body header .sLogo_Frame {
    width: 70%;
  }
  /* line 251, ../sass/sample2.scss */
  html body header .sMenu_Frame {
    width: 30%;
  }
  /* line 254, ../sass/sample2.scss */
  html body header .sMenu_Frame:last-child {
    bottom: 40px;
  }
  /* line 264, ../sass/sample2.scss */
  html body main {
    width: 100%;
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -o-calc(100vh - 80px);
    height: calc(100vh - 80px);
  }
  /* line 271, ../sass/sample2.scss */
  html body main .sWaypoint_frame {
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -o-calc(100vh - 80px);
    height: calc(100vh - 80px);
  }
  /* line 278, ../sass/sample2.scss */
  html body footer {
    height: 40px;
  }
  /* line 282, ../sass/sample2.scss */
  html body footer .sTopButton {
    bottom: 4px;
    right: 4px;
  }
  /* line 288, ../sass/sample2.scss */
  html body footer .sBottomButton {
    top: 4px;
    right: 4px;
  }

  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 550px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 768px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1201px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
特殊定義
	注意事項：
		ページサイズが固定で、コンテンツは左右に余白を設けているため、ブラウザの横幅がページサイズの横幅を
		下回った場合に余白をなくしている。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  /* line 421, ../sass/sample2.scss */
  html body main {
    width: 100%;
  }
}
/*--------------------------------------------------------------------------------------------------------------
印刷定義
--------------------------------------------------------------------------------------------------------------*/
@media print {
  /*----------------------------------------------------------------------------------------------------------
  変数定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /* line 453, ../sass/sample2.scss */
  html body main {
    width: 100%;
    position: relative;
    height: auto;
    overflow-y: inherit;
  }
  /* line 461, ../sass/sample2.scss */
  html body main .sWaypoint_frame {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    height: 100vh;
    -webkit-animation-name: inherit !important;
    animation-name: inherit !important;
  }
  /* line 466, ../sass/sample2.scss */
  html body main .sWaypoint_frame:first-child {
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -o-calc(100vh - 80px);
    height: calc(100vh - 80px);
  }
  /* line 470, ../sass/sample2.scss */
  html body main .sWaypoint_frame:last-child {
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: -o-calc(100vh - 80px);
    height: calc(100vh - 80px);
  }
  /* line 482, ../sass/sample2.scss */
  html body footer {
    position: relative;
  }
  /* line 486, ../sass/sample2.scss */
  html body footer .sTopButton {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
  /* line 491, ../sass/sample2.scss */
  html body footer .sBottomButton {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
}
