@charset "UTF-8";
/**********************************************************************************************************************************
レイアウト定義用SASS
	ページ単位のCSS定義を行う。

	注意事項：
		必ずPCファーストで作成してください！

	作成履歴：
		2017/02/19	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
/* リセット用CSSをインポート */
@import url(//fonts.googleapis.com/css?family=Abel);
/* line 5, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 汎用定数 */
/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	注意事項：
		ここで定義されるものは削除してはいけない。
		本SASSは最初にインポートされる必要がある。
		ここで定義されている定数をオーバーライドすることで挙動を変更できる。

	作成履歴：
		2016/07/05	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
定数定義
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
メディア定義
----------------------------------------------------------------------------------------------------------*/
/* 汎用関数 */
/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	作成履歴：
		2017/02/09	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
Calc代用関数
	説明：
		Compassにはclac相当のファンクションが機能しない。
		そのための代用となる。
----------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	BOX中央配置関数
		説明：
			要素を親要素topから50%に配置、すると子要素のtopが親要素の中央位置にくるので、
			子要素を自身の高さの半分マイナス上にずらす（transform: translateY(-50%))と、縦のセンタリングができる。

		注意事項：
			※親要素の高さが決まっている時のみ適用される。
	----------------------------------------------------------------------------------------------------------*/
/* Google Font をインポート（必要に応じて）*/
/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
変数定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
ワイヤーフレーム関連定義
----------------------------------------------------------------------------------------------------------*/
/* line 67, ../sass/sample.scss */
html {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 75, ../sass/sample.scss */
html body {
  width: 100%;
  height: 100%;
  min-height: 80px;
  background-color: gray;
}
/* line 83, ../sass/sample.scss */
html body header {
  height: 80px;
  overflow: hidden;
  *zoom: 1;
}
/* line 88, ../sass/sample.scss */
html body header .sLogo_Frame {
  width: 30%;
  height: 100%;
  float: left;
  background-color: red;
}
/* line 96, ../sass/sample.scss */
html body header .sMenu_Frame {
  width: 70%;
  height: 100%;
  float: left;
  background-color: #d8a6cd;
}
/* line 109, ../sass/sample.scss */
html body main {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 0 auto;
  height: -webkit-calc(100% - 80px - 80px);
  height: -moz-calc(100% - 80px - 80px);
  height: -o-calc(100% - 80px - 80px);
  height: calc(100% - 80px - 80px);
  min-height: 400px;
  background-color: yellow;
  overflow: hidden;
  *zoom: 1;
}
/* line 119, ../sass/sample.scss */
html body main .sLeft_Frame {
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: -o-calc(100% - 300px);
  width: calc(100% - 300px);
  height: 100%;
  float: left;
  background-color: #f19090;
}
/* line 127, ../sass/sample.scss */
html body main .sLeft_Frame .sEye_catch_area {
  width: 100%;
  height: 150px;
  background-color: #b5f391;
}
/* line 134, ../sass/sample.scss */
html body main .sLeft_Frame .sContents_area {
  width: 100%;
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: -o-calc(100% - 150px);
  height: calc(100% - 150px);
  background-color: #f3de91;
}
/* line 142, ../sass/sample.scss */
html body main .sRight_Frame {
  width: 300px;
  height: 100%;
  float: left;
  background-color: #c691f3;
}
/* line 152, ../sass/sample.scss */
html body main .sRight_Frame .sMenu_block li:nth-child(odd) {
  background-color: #91e9f3;
}
/* line 164, ../sass/sample.scss */
html body footer {
  height: 80px;
  min-height: 80px;
  background-color: green;
  overflow: hidden;
  *zoom: 1;
}

/*----------------------------------------------------------------------------------------------------------
その他の定義
----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
Ratina専用定義
	画像や特殊文字を実装する場合にRatina用の設定を行う。
----------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  /*----------------------------------------------------------------------------------------------------------
  変数定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  
  	PCバージョンとまったく同じ構成にしているのは、CSS適用規則に沿って、PCの定義を適切に上書きできるように
  	するため。
  ----------------------------------------------------------------------------------------------------------*/
  /* line 220, ../sass/sample.scss */
  html {
    width: 100%;
  }
  /* line 228, ../sass/sample.scss */
  html body header {
    height: 40px;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 233, ../sass/sample.scss */
  html body header .sLogo_Frame {
    width: 70%;
  }
  /* line 238, ../sass/sample.scss */
  html body header .sMenu_Frame {
    width: 30%;
  }
  /* line 247, ../sass/sample.scss */
  html body main {
    width: 100%;
    height: auto;
    min-height: inherit;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 254, ../sass/sample.scss */
  html body main .sLeft_Frame {
    width: 100%;
  }
  /* line 259, ../sass/sample.scss */
  html body main .sLeft_Frame .sEye_catch_area {
    height: 80px;
  }
  /* line 270, ../sass/sample.scss */
  html body main .sRight_Frame {
    width: 100%;
  }
  /* line 285, ../sass/sample.scss */
  html body footer {
    height: 40px;
    min-height: min-intrinsic;
    overflow: hidden;
    *zoom: 1;
  }

  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 550px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 768px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1201px) {
  /*----------------------------------------------------------------------------------------------------------
  ワイヤーフレーム関連定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  その他の定義
  ----------------------------------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------------------------------
  Ratina専用定義
  	画像や特殊文字を実装する場合にRatina用の設定を行う。
  ----------------------------------------------------------------------------------------------------------*/
}
