/**********************************************************************************************************************************
汎用関数定義SASS
	汎用的に使用される関数を定義したSASS

	作成履歴：
		2017/02/09	新規作成（浅野 利博）
		2017/03/04	関数コメントを修正（浅野 利博）
		2017/03/08	calc対応background-position関数を追加（浅野 利博）
		2017/03/04	writing-mode代用関数を追加（浅野 利博）
		2017/03/12	リセット補助関数を追加（浅野 利博）
		2017/03/12	画像データURIスキーム変換関数を追加（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

	/*----------------------------------------------------------------------------------------------------------
	画像データURIスキーム変換関数
		説明：
			画像データURIスキームに変換する（Inline Data Helpers）。
			指定された画像をデータURIスキームに変換し、普遍的にCSS内に保存する。
			この関数が有効なのは、画像の変更頻度は低く、小さなものに限る。
			
		注意事項；
			この関数の性格上、画像が変更された場合には、再コンパイルが必要となる。
	
		引数：
			画像URL
	
		参照： 
	----------------------------------------------------------------------------------------------------------*/
	@mixin convert_inline_image( $url )
	{ 
		background-image: inline-image( $url );
	}

	/*----------------------------------------------------------------------------------------------------------
	リセット補助関数
		説明：
			ボックスサイズの算出方法を「border-box」にすることで、padding, marginのサイズに関係なく、
			width, heightで指定した値をボックスのサイズとする。
			この関数を最初に読み込ませることで、ボックス配置時のサイズ調整を簡単にする。
	
		引数：
			なし。
	
		参照： https://inside-research.com/6082/sass-%E3%83%AA%E3%82%BB%E3%83%83%E3%83%88%E8%A3%9C%E5%8A%A9%E9%96%A2%E6%95%B0
	----------------------------------------------------------------------------------------------------------*/
	@mixin more_reset()
	{ 
		*, *:before, *:after
		{
		    @include box-sizing( border-box );
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	writing-mode代用関数
		説明：
			Compassにはcwriting-modeが定義されていない。
			そのための、代用Mixinとなる。
			
		引数：
			$direction		...	rl（右寄せ）
								lr（左寄せ）
								
		参照： https://inside-research.com/5890/sass-sass-writing-mode%E4%BB%A3%E7%94%A8%E9%96%A2%E6%95%B0
	----------------------------------------------------------------------------------------------------------*/
	@mixin writing-mode( $direction )
	{ 
		-ms-writing-mode:		tb- + $direction;            	/* IE用　*/
		-webkit-writing-mode:	vertical- + $direction;  		/* chrome用　*/
		-moz-writing-mode:		vertical- + $direction;       	/* Firefox用　*/
		-o-writing-mode:		vertical- + $direction;      	/* opera用　*/
		writing-mode:			vertical- + $direction;			/* その他 */
	}

	/*----------------------------------------------------------------------------------------------------------
	Calc代用関数
		説明：
			Compassにはclac相当のファンクションが機能しない。
			（単位の異なる演算ができない）
			そのための代用となる。

		参照： https://inside-research.com/5911/sass-calc%E4%BB%A3%E7%94%A8%E9%96%A2%E6%95%B0
	----------------------------------------------------------------------------------------------------------*/
	@mixin calc( $property, $expression )
	{ 
		@each $pre in -ms-, -webkit-, -moz-, -o-
		{
			#{$property}: $pre + calc(#{$expression});
		}
		#{$property}: calc(#{$expression});
	}

	/*----------------------------------------------------------------------------------------------------------
	background-position代用関数
		説明：
			background-positionの指定でCalcを使用可能にするもの。
			
		参照： https://inside-research.com/5988/sass-background-position%E4%BB%A3%E7%94%A8%E9%96%A2%E6%95%B0
	----------------------------------------------------------------------------------------------------------*/
	@mixin background-position( $f1, $f2 )
	{
		@each $pre in -ms-, -webkit-, -moz-, -o-
		{
			background-position: $pre + calc(#{$f1}) + ' ' + $pre + calc(#{$f2});
		}
		background-position: calc(#{$f1}) + ' ' + calc(#{$f2});		
	}

	/*----------------------------------------------------------------------------------------------------------
	BOX中央配置関数
		説明：
			要素を親要素topから50%に配置、すると子要素のtopが親要素の中央位置にくるので、
			子要素を自身の高さの半分マイナス上にずらす（transform: translateY(-50%))と、縦のセンタリングができる。
	
			width					... 自身の幅
			height					... 自身の高
			parent_width			... 親要素の幅
			parent_height			... 親要素の高
	
			translateX() = ( parent_width / 2 ) + ( width * -0.5 );
			translateY() = ( parent_height / 2 ) + ( height * -0.5 );
	
		注意事項：
			※親要素の高さが決まっている時のみ適用される。
			
		参照： https://inside-research.com/6018/sass-box%E4%B8%AD%E5%A4%AE%E9%85%8D%E7%BD%AE%E9%96%A2%E6%95%B0
	----------------------------------------------------------------------------------------------------------*/
	@mixin box_center()
	{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate( -50%, -50% );
	}
