/**********************************************************************************************************************************
レイアウト定義用SASS
	ページ単位のCSS定義を行う。

	注意事項：
		必ずPCファーストで作成してください！

	作成履歴：
		2017/02/19	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";
/* 汎用関数 */
@import "common_function";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// 最大ページ幅
	$page_max_width:			1024px;
	// Header高さ（固定）
	$header_height:				80px;
	// コンテンツ最低高
	$main_min_height:			400px;
	// コンテンツ部左右余白合計
	$main_contents_margin:		40px;
	// Footer高さ（固定）
	$footer_height: 			80px;

	// Header ロゴ幅
	$sLogo_Frame_width:			30%;
	// Header メニュー幅
	$sMenu_Frame_width:			70%;

	// 右側フレーム幅
	$sRigth_Frame_width:		300px;
	
	// アイ・キャッチ・エリア高
	$sEye_catch_area_height:	150px;

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// ここから定義しているのは、画面の高さを100%にするため。
	// この処理は、サンプルの要件定義に従わせるため。
	// HTML部
	html
	{
	    height: 100%;
	    width: 100%;
	    max-width: $page_max_width;
	    margin: 0 auto;

		// Body部
		body
		{
			width: 100%;
			height: 100%;
			min-height: $header_height;
			background-color: gray;
	
			// ヘッダー部
			header
			{
				height:	$header_height;
	
				// ロゴフレーム
				.sLogo_Frame
				{
					width: $sLogo_Frame_width;
					height: 100%;
					float: left;
					background-color: red;
				}
				// メニューフレーム
				.sMenu_Frame
				{
					width: $sMenu_Frame_width;
					height: 100%;
					float: left;
					background-color: #d8a6cd;
				}
				
				// ClearFix
				@include clearfix;
			}
		
			// コンテンツ部
			main
			{
				@include calc( width, '100% - ' + $main_contents_margin );
				margin: 0 auto;
				@include calc( height, '100% - ' + $header_height + ' - ' + $footer_height );
				min-height: $main_min_height;

				background-color: yellow;
	
				// 左側フレーム
				.sLeft_Frame
				{
					@include calc( width, '100% - ' + $sRigth_Frame_width );
					height: 100%;
					float:	left;
					background-color: #f19090;

					// アイ・キャッチエリア
					.sEye_catch_area
					{
						width: 100%;
						height: $sEye_catch_area_height;
						background-color: #b5f391;
					}
					// コンテンツ・エリア
					.sContents_area
					{
						width: 100%;
						@include calc( height, '100% - ' + $sEye_catch_area_height );
						background-color: #f3de91;
					}
				}
				// 右側フレーム
				.sRight_Frame
				{
					width: $sRigth_Frame_width;
					height: 100%;
					float:	left;
					background-color: #c691f3;

					// メニュ・ブロック
					.sMenu_block
					{
						li:nth-child(odd)
						{
							background-color: #91e9f3;
						}
					}
				}
	
				// ClearFix
				@include clearfix;
			}
		
			// フッター部
			footer
			{
				height:	$footer_height;
				min-height: $footer_height;
				background-color: green;
	
				// ClearFix
				@include clearfix;
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// 最大ページ幅
	$sp_page_max_width:			100%;
	// Header高さ（固定）
	$sp_header_height:			40px;
	// Footer高さ（固定）
	$sp_footer_height: 			40px;

	// Header ロゴ幅
	$sp_sLogo_Frame_width:		70%;
	// Header メニュー幅
	$sp_sMenu_Frame_width:		30%;

	// アイ・キャッチ・エリア高
	$sp_sEye_catch_area_height:	80px;

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	
		PCバージョンとまったく同じ構成にしているのは、CSS適用規則に沿って、PCの定義を適切に上書きできるように
		するため。
	----------------------------------------------------------------------------------------------------------*/
	// HTML部
	html
	{
		width: $sp_page_max_width;

		// Body部
		body
		{
			// ヘッダー部
			header
			{
				height: $sp_header_height;
	
				// ロゴフレーム
				.sLogo_Frame
				{
					width: $sp_sLogo_Frame_width;
				}
				// メニューフレーム
				.sMenu_Frame
				{
					width: $sp_sMenu_Frame_width;
				}
				// ClearFix
				@include clearfix;
			}
		
			// コンテンツ部
			main
			{
				width: 100%;
				height: auto;
				min-height: inherit;
	
				// 上部フレーム
				.sLeft_Frame
				{
					width: 100%;
	
					// アイ・キャッチエリア
					.sEye_catch_area
					{
						height: $sp_sEye_catch_area_height;
					}
					// コンテンツ・エリア
					.sContents_area
					{
						
					}
				}
				// 下部フレーム
				.sRight_Frame
				{
					width: 100%;
	
					// メニュ・ブロック
					.sMenu_block
					{
						
					}
				}
				// ClearFix
				@include clearfix;
			}
		
			// フッター部
			footer
			{
				height: $sp_footer_height;
				min-height: min-intrinsic;
				// ClearFix
				@include clearfix;
			}
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_smart_phone_width+1) and (max-width:$media_phablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_phablet_width+1) and (max-width:$media_tablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_tablet_width+1) and (max-width:$media_desctop_hd_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_desctop_hd_width+1)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
