<!DOCTYPE html>
<html lang="ja">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#  article: http://ogp.me/ns/article#">
		<!-- ページ・文字コード -->
			<meta charset="utf-8">
		<!-- View Port 設定 -->
			<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
		<!-- イメージツールバー 設定 -->
			<!-- meta http-equiv="imagetoolbar" content="no" -->

		<!-- ページタイトル -->
			<title>{%PAGE_TITLE%}</title>

		<!-- SEO 設定 -->
			<!-- 説明文 -->
				<meta name="description" content="{%DESCRIPTION%}">
			<!-- キーワード -->
				<meta name="keywords" content="{%KEYWORD%}">
			<!-- 検索エンジン・ロボット制御 -->
				<meta name="robots" content="all">
				<meta name="robots" content="index,follow">

		<!-- Open Graph Protocol（OGP） 設定 -->
			<!-- サイト名 -->
				<meta property="og:site_name" content="{%SITE_TITLE%}">
			<!-- ページのURL -->
				<meta property="og:url" content="{%PAGE_URL%}">
			<!-- サムネイル画像のURL -->
				<meta property="og:image" content="{%IMAGE_URL%}">
			<!-- ページの種類 -->
				<meta property="og:type" content="website">
			<!-- ページのタイトル -->
				<meta property="og:title"  content="{%PAGE_TITLE%}">
			<!-- 記事の概要 -->
				<meta property="og:description"  content="">
			<!-- Facebook ページの管理人証明 -->
				<meta property="fb:admins" content="{%FACEBOOK_ADMIN%}" >

		<!-- Twitter Cards 設定 -->
			<!-- カードタイプ ”Summary”、”Summary with Large Image”、”Photo”、”Gallery”、”Product”、”App”、”Player” -->
				<meta name="twitter:card" content="summary">
			<!-- カードのフッターで使用されるウェブサイトのユーザー名 -->
				<meta name="twitter:site" content="@{%TWEET_SITE_OWNER%}">
			<!-- コンテンツ作成者のユーザー名 -->
				<meta name="twitter:creator" content="@{%TWEET_CONTENT_CREATOR%}">
			<!-- 説明文 -->
				<meta name="twitter:description" content="{%DESCRIPTION%}">
			<!-- サムネイル画像のURL -->
				<meta name="twitter:image:src" content="{%IMAGE_URL%}">

		<!-- 文書関連性定義 -->
			<!-- リンク先が、現在の文書に対する索引（インデックス）であることを示す。 -->
				<link rel="index" href="{%PAGE_URL%}">
			<!-- サイトアイコン -->
				<link rel="icon" href="{%ICON_URL%}">
			<!-- ショートカットアイコン -->
				<link rel="shortcut icon" href="{%SHOTCUT_ICON_URL%}" type="image/vnd.microsoft.ico">
			<!-- アップル・タッチ・アイコン -->
				<link rel="apple-touch-icon" href="{%APPLE_TOUCH_ICON_URL%}">

		<!-- IE9 対策 -->
			<!-- IEの最新バージョンの標準モードに設定 -->
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<!--[if lt IE 9]>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
				<script src="../external/js/css3-mediaqueries-js/css3-mediaqueries.js"></script>
			<![endif]-->

		<!-- ページ固有のCSSローディング -->
			<link rel="stylesheet" href="./css/index.css">
	</head>

	<!-- Body部 -->
	<body>
		<!-- ヘッダー部 -->
		<header>
			<!-- ロゴフレーム -->
			<div class="sLogo_Frame">
				Logo
			</div>
			<!-- メニューフレーム -->
			<div class="sMenu_Frame">
				Menu
			</div>
		</header>

		<!-- コンテンツ部 -->
		<main>
			<!-- Waypointフレーム1 -->
			<div class="sWaypoint_frame">
				1
			</div>
			<!-- Waypointフレーム2 -->
			<div class="sWaypoint_frame">
				2
			</div>
			<!-- Waypointフレーム3 -->
			<div class="sWaypoint_frame">
				3
			</div>
			<!-- Waypointフレーム4 -->
			<div class="sWaypoint_frame">
				4
			</div>
		</main>

		<!-- フッター部 -->
		<footer>
			Footer
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="../external/js/waypoints/jquery.waypoints.min.js"></script>
	</body>
</html>
